{% extends "base.html.twig" %}

{% block title %}Page de la gestion de votre compte{% endblock %}

{% block content %}

<div class="bienvenue">
  <h1>Gestion de <span>votre compte</span></h1>
  <p>Modifiez votre nom d'utilisateur ou votre mot de passe depuis cette page.</p>
</div>

<div class="separateur"></div>

{% if message %}
  <div class="message-success">{{ message }}</div>
{% endif %}

{% if erreur %}
  <div class="message-erreur">{{ erreur }}</div>
{% endif %}


<form method="post" action="/gestionCompte">
  <input type="hidden" name="csrf_token" value="{{ app_csrf_token }}">
  <div class="bloc">
    <h2>Nom d'utilisateur</h2>
    <div class="nom-actuel">{{ utilisateur.Prenom }} {{ utilisateur.Nom }}</div>

    <div class="input-group">
      <label for="new-username">Nouveau nom d'utilisateur</label>
      <input type="text" id="new-username" name="new_username" placeholder="Entrer un nouveau nom...">
    </div>
  </div>

  <div class="bloc">
    <h2>Changement de mot de passe</h2>
    <div class="inputs">
      <div class="input-group">
        <label for="mdp-actuel">Mot de passe actuel</label>
        <input type="password" id="mdp-actuel" name="mdp_actuel" placeholder="Entrer votre mot de passe actuel">
      </div>

      <div class="input-group">
        <label for="new-mdp">Nouveau mot de passe</label>
        <input type="password" id="new-mdp" name="new_mdp" placeholder="Entrer un nouveau mot de passe">
      </div>

      <div class="input-group">
        <label for="confirm-mdp">Confirmation mot de passe</label>
        <input type="password" id="confirm-mdp" name="confirm_mdp" placeholder="Entrer à nouveau le nouveau mot de passe">
      </div>
    </div>
  </div>

  <button type="submit" class="btn-confirmer">Confirmer les changements</button>
</form>

{% endblock %}
